<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title>AskUs</title>
      <style>
         .center_class{
         text-align: center;
         display: block;
         margin: 0 auto;
         width: 300px;
         };
      </style>
   </head>
   <body>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script>
         function login() {
            var inputUname = document.getElementById('inputUname').value;
            var inputPasswd = document.getElementById('inputPasswd').value;
            
            var request = new XMLHttpRequest();
            request.open("POST", "/login", true);
            request.onload = function() {
               var token = JSON.parse(request.responseText).token;
               if (token != null) {
                  document.cookie = 'token=' + token + ';';
                  document.location = '/';
               }else{
                  document.location = '/login';
               }
            }
            request.send(JSON.stringify({
            inputUname: inputUname,
            inputPasswd: inputPasswd
            }));
         }
      </script>
      <div class="text-center" style = "text-align: center;">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img id="currentPhoto" src="/static/askuslogo.jpg" alt="AskUs logo" width="180" height="70" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" style="color: #2e4167;" href="/">
                        <h4><strong>Home</strong></h4>
                        <span class="sr-only">(current)</span>
                     </a>
                  </li>
               </ul>
               <a class="nav-link" style="color: #2e4167;" href="/register">
                  <h4> Register</h4>
               </a>
   
               <a class="nav-link" style="color: #2e4167;" href="/login">
                  <h4> Login</h4>
               </a>
   
               </li> 
            </div>
         </nav> 
         <br> <br> <br> <br> 
         <!-- Div for flashed messages -->
         {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
         {% endfor %}
         <!-- End Div for flashed messages -->
         <form action = "/login" method = "post">
            <div class="form-group">
               <label for="exampleInputEmail1"> <h4>Username</h4> </label>
               <input type="text" class="form-control input-sm center_class" name="inputUname" id="inputUname" placeholder="Enter username">
            </div>
            <div class="form-group">
               <label for="exampleInputPassword1"> <h4>Password</h4></label>
               <input type="password" class="form-control input-sm center_class" name="inputPasswd" id="inputPasswd" placeholder="Enter password">
            </div>
            <br>
            <button type="button" onclick="login()" class="btn btn-info">Submit</button>
            <br> <br>
            <a class="nav-link" href="/register">Don't have an account? Register now!</a>
         </form>
      </div>
   </body>
</html>